*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #F0FFF0;
}
#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #66cc66;
    color: white;
    padding: 10px 15px;
    border: 1px solid #4caf50;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}
#scrollTopBtn:hover {
    background-color: #4caf50;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url("bg_image.png");
    background-size: cover;
    background-position: center;
}
.container{
    padding: 2px 2%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 250px;
    margin: 10px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
}
nav ul li a {
    color: #66cc66;
    text-decoration: none;
    font-size: 23px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #66cc66;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;
    color: #006400;
}
.header-text h1{
    margin-top: 20px;
    font-size: 90px;
}
/*--- About ---*/
#about{
    padding: 80px 100px;
    color: #006400;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 41%;
}
.about-col-1 img{
    width: 100%;
    border: 5px solid #66cc66;
    border-radius: 35px;
}
.about-col-2{
    flex-basis: 50%;
}
.sub-title{
    margin-bottom: 25px;
    font-size: 60px;
    font-weight: 600;
    color: #00b300;
}
.sub-title-txt{
    padding: 20px 0 ;
    font-size: 25px;
}
/*--- Skills ---*/
#skills{
    padding: 80px 100px;
    color: darkgreen;
}
.tab-titles{
    font-size: 35px;
    padding: 40px 35%;
}
#skills ul{
    list-style: none;
}
#skills ul li{
    padding: 20px;
    font-size: 24px;
    width: 700px;
    border: 5px solid #66cc66;
    border-radius: 20px;
    margin-bottom: 40px;
    position: relative;
}
#skills ul li .hidden-text {
    display: none;
    font-size: 18px;
    color: #F0FFF0;
    background: #66cc66;
    margin-top: 10px;
    width: 100%;
}
#skills ul li:hover{
    background: #66cc66;
    color: #F0FFF0;
    transform: translateY(-10px) scale(1.2);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
#skills ul li:hover .hidden-text {
    display: block;
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
#skills ul span{
    font-size: 28px;
    font-weight: bold;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    align-items: center;
    margin-left: 50px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: darkgreen;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.tab-contents.active-tab {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    position: relative;
    z-index: 1;
}
/*--- Education ---*/
#education{
    padding: 80px 100px;
    color: darkgreen;
}
#education table{
    width: 100%;
    margin: 100px 0 200px;
    border-collapse: collapse;
}
#education table td{
    font-size: 24px;
    border: 3px solid #66cc66;
    border-top: none;
    border-bottom: none;
    text-align: center;
    vertical-align: middle;
    padding: 50px;
    line-height: 2;
}
#education table td a{
    text-decoration: none;
    color: darkgreen;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}
#education table span{
    font-size: 28px;
    font-weight: bold;
}
#education table td:hover{
    background: #66cc66;
    transition: 0.5s;
}
/*--- Courses ---*/
#courses {
    padding: 80px 100px;
    color: darkgreen;
}

.courses-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    position: relative;
}

.courses-list div {
    background: #66cc66;
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 400px;
    max-height: 400px;
    z-index: 1;
}

.courses-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.courses-list div h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}


.courses-list div ul.hidden-text {
    display: none;
    font-size: 18px;
    color: #F0FFF0;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    position: relative;
    list-style-type: disc;
    list-style-position: inside;
    bottom: 10px;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.courses-list div:hover {
    background: #66cc66;
    color: #F0FFF0;
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    height: 420px;
    max-height: 420px;
    z-index: 2;
}
.courses-list div:hover ul.hidden-text {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*--- Projects ---*/
#projects{
    padding: 80px 100px;
    color: darkgreen;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.project{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    color: #F0FFF0;
}
.project img{
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #66cc66);
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 20px;
    transition: height 0.5s;
}
.layer h2{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #F0FFF0;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #66cc66;
    width: 60px;
    height: 60px;
    border-radius: 60%;
    text-align: center;
}
.project:hover img{
    transform: scale(1.2);
}
.project:hover .layer{
    height: 100%;
}
/*--- Contact ---*/
#contact{
    padding: 80px 100px;
    color: #F0FFF0;
    background: #66cc66;
}
#contact h1{
    color: #F0FFF0;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
    margin-left: 5px;
    font-size: 20px;
}
.contact-left p i{
    color: #F0FFF0;
    margin-right: 15px;
    margin-left: 5px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 15px;
    color: #F0FFF0;
    display: inline-block;
    transition: transform 0.3s;
}
.social-icons a:hover{
    color: #006400;
    transform: translateY(-5px);
}
.btn{
    display: block;
    margin: 50px 10px;
    width: fit-content;
    border: 2px solid #00b300;
    padding: 14px 50px;
    border-radius: 30px;
    text-decoration: none;
    color: #00b300;
    transition: transform 0.3s;
}
.btn.btn2{
    display: inline-block;
    background: #F0FFF0;
    color: #00b300;
    font-size: 15px;
    transition: transform 0.3s;
}
.btn2:hover{
    transform: translateY(-10px);
    background: #00b300;
    color: #F0FFF0;
    cursor: pointer;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #F0FFF0;
    padding: 15px;
    margin: 10px 0;
    color: #006400;
    font-size: 18px;
    border-radius: 5px;
}
.copyright{
    color: darkgreen;
    text-align: center;
    padding-bottom: 6px;
    background: #66cc66;
}
/*--- css for smaller devices ---*/
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px) {
    #header{
        background-image: url("bg_image-small.png");
    }
    .header-text{
        margin-top: 30%;
        margin-left: 10%;
    }
    .header-text h1{
        font-size: 40px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
        margin-right: 20px;
    }
    nav ul{
        background: rgba(101, 204, 102, 0.9);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul li a{
        color: #F0FFF0;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        color: #F0FFF0;
    }
    #about{
        padding: 40px 20px 0 20px;
    }
    .sub-title{
        font-size: 40px;
    }
    .sub-title-txt{
        font-size: 20px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    #skills{
        padding: 40px 20px 0 20px;
    }
    #skills ul li{
        width: 100%;
    }
    .tab-titles{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding: 0;
        margin-top: 50px;
        font-size: 25px;
    }
    #skills ul li{
        font-size: 15px;
    }
    #skills ul li span{
        font-size: 20px;
    }
    #skills ul li .hidden-text{
        font-size: 15px;
    }
    #skills ul li:hover{
        width: 100%;
    }
    #education{
        padding: 40px 20px 0 20px;
        width: 100%;
    }
    #education table {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #education table tr {
        display: contents;
    }

    #education table td{
        display: block;
        text-align: center;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid #4caf50;
        background-color: #F0FFF0;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
    #education table td span{
        font-size: 20px;
    }
    #education table td a{
        font-size: 15px;
        text-decoration-line: underline;
    }
    #courses{
        padding: 40px 20px 0 20px;
        width: 100%;
    }
    .courses-list{
        display: block;
    }
    .courses-list div{
        margin-bottom: 20px;
        padding: 20px 20px 0 20px;
    }
    .courses-list div i{
        font-size: 30px;
    }
    .courses-list div h2{
        font-size: 20px;
    }
    .courses-list div p{
        font-size: 15px;
    }
    #projects{
        padding: 40px 20px 0 20px;
        width: 100%;
    }
    .project-list{
        display: block;
    }
    .project{
        margin-bottom: 20px;
    }
    .layer h2{
        font-size: 20px;
    }
    .layer p{
        font-size: 15px;
    }
    .layer a{
        font-size: 15px;
        line-height: 35px;
        height: 35px;
        width: 35px;
        text-align: center;
    }
    #contact{
        padding: 40px 20px 0 20px;
        width: 100%;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-left p{
        font-size: 18px;
    }
    .copyright{
        font-size: 9px;
    }
}
#msg{
    color: darkgreen;
    font-weight: bold;
    margin-top: -40px;
    display: block;
    padding-left: 10px;
}